<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Histórico</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Doações</a>
              </li>
              <li class="breadcrumb-item active">Histórico</li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="table-responsive mb-0">
        <table
          class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check"
          id="order-list"
        >
          <thead class="table-light">
            <tr>
              <th style="width: 20px">
                <div class="form-check font-size-16 align-middle">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="transactionCheck01"
                    [(ngModel)]="masterSelected"
                    (change)="checkUncheckAll($event)"
                  />
                  <label
                    class="form-check-label"
                    for="transactionCheck01"
                  ></label>
                </div>
              </th>
              <th class="align-middle">ID</th>
              <th class="align-middle">Categoria</th>
              <th class="align-middle">Item</th>
              <th class="align-middle">Data</th>
              <th class="align-middle">Tipo</th>
              <th class="align-middle">Quantidade</th>
              <th class="align-middle">Doador</th>
              <th class="align-middle">Histórico/Recentes</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let data of historico; let i = index"
              id="o_{{ data.id }}"
            >
              <td>
                <div class="form-check font-size-16">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="transactionCheck{{ data.index }}"
                    value="{{ data.id }}"
                    [(ngModel)]="data.state"
                  />
                  <label
                    class="form-check-label"
                    for="transactionCheck{{ data.index }}"
                  ></label>
                </div>
              </td>
              <td>
                <a href="javascript: void(0);" class="text-body fw-bold">{{
                  data.id
                }}</a>
              </td>
              <td>{{ data.categoria }}</td>
              <td>{{ data.itemName }}</td>
              <td>{{ data.data }}</td>
              <td *ngIf="data.tipoMov === 'entrada'">
                <span class="badge badge-soft-success">Entrada</span>
              </td>
              <td *ngIf="data.tipoMov === 'saida'">
                <span class="badge badge-soft-danger">Saida</span>
              </td>
              <td>{{ data.qntd }}</td>
              <td>{{ data.doadorName }}</td>
              <td>
                <!-- Button trigger modal -->
                <button
                  type="button"
                  class="btn btn-primary btn-sm btn-rounded px-3"
                  routerLink="/"
                >
                  Ver detalhes
                </button>
              </td>
            </tr>
          </tbody>
          <tbody *ngIf="historico.length <= 0">
            <tr *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7]">
              <td>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{ width: '16px', height: '16px' }"
                />
              </td>
              <td>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{ width: '30px' }"
                />
              </td>
              <td><ngx-skeleton-loader animation="pulse" /></td>
              <td><ngx-skeleton-loader animation="pulse" /></td>
              <td><ngx-skeleton-loader animation="pulse" /></td>
              <td><ngx-skeleton-loader animation="pulse" /></td>
              <td>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{ width: '70px' }"
                />
              </td>
              <td>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{ width: '50px' }"
                />
              </td>
              <td>
                <ngx-skeleton-loader
                  animation="pulse"
                  [theme]="{ width: '80px' }"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div>
<!-- container-fluid -->
