<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">...</a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-12 d-none d-lg-block">
      <div class="row">
        <div class="col-4">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-6">
                    <h4 class="card-title mb-4">Arrecadação Total</h4>
                    <p class="text-muted">
                      Ultima atualização: {{ actualMonth }}
                    </p>
                    <h3>{{ "R$" + this.moneyQntd }}</h3>
                    <p *ngIf="moneyMetaPorcent > 100" class="text-muted">
                      <span class="text-success me-2">
                        {{ moneyMetaPorcent - 100 }}%
                        <i class="mdi mdi-arrow-up"></i
                      ></span>
                      acima da meta
                    </p>
                    <p *ngIf="moneyMetaPorcent == 100" class="text-muted">
                      <span class="text-success me-2">100%</span>
                      da meta
                    </p>
                    <p *ngIf="moneyMetaPorcent < 100" class="text-muted">
                      <span class=" me-2">
                        {{ 100 - moneyMetaPorcent}}%
                        <i class="mdi mdi-arrow-up"></i
                      ></span>
                      para a meta
                    </p>
                  </div>
                  <div class="col-sm-6">
                    <apx-chart
                      dir="ltr"
                      class="apex-charts"
                      [series]="metaMoney.series"
                      [chart]="metaMoney.chart"
                      [legend]="metaMoney.legend"
                      [colors]="metaMoney.colors"
                      [labels]="metaMoney.labels"
                      [stroke]="metaMoney.stroke"
                      [plotOptions]="metaMoney.plotOptions"
                    >
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-5">Recentes</h4>
                <ul class="verti-timeline list-unstyled">
                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle font-size-18"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <h5 class="font-size-14">
                          {{ this.historico[2]?.dataFormated }}
                          <i
                            class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                          ></i>
                        </h5>
                      </div>
                      <div class="flex-grow-1">
                        <div *ngIf="this.historico[2]?.tipoMov === 'entrada'">
                          {{ this.historico[2]?.doadorName }} fez uma doação
                        </div>
                        <div *ngIf="this.historico[2]?.tipoMov === 'saida'">
                          {{ this.historico[2]?.doadorName }} recebeu uma doação
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="event-list">
                    <div class="event-timeline-dot">
                      <i class="bx bx-right-arrow-circle font-size-18"></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <h5 class="font-size-14">
                          {{ this.historico[1]?.dataFormated }}
                          <i
                            class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                          ></i>
                        </h5>
                      </div>
                      <div class="flex-grow-1">
                        <div *ngIf="this.historico[1]?.tipoMov === 'entrada'">
                          {{ this.historico[1]?.doadorName }} fez uma doação
                        </div>
                        <div *ngIf="this.historico[1]?.tipoMov === 'saida'">
                          {{ this.historico[1]?.doadorName }} recebeu uma doação
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="event-list active">
                    <div class="event-timeline-dot">
                      <i
                        class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"
                      ></i>
                    </div>
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <h5 class="font-size-14">
                          Hoje
                          <i
                            class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                          ></i>
                        </h5>
                      </div>
                      <div class="flex-grow-1">
                        <div>
                          <div *ngIf="this.todayItem[0]?.tipoMov === 'entrada'">
                            {{ this.todayItem[0]?.doadorName }} fez uma doação
                          </div>
                          <div *ngIf="this.todayItem[0]?.tipoMov === 'saida'">
                            {{ this.todayItem[0]?.doadorName }} recebeu uma
                            doação
                          </div>
                          <div *ngIf="this.todayItem[0]?.tipoMov === null">
                            Nada foi cadastrado hoje :)
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
                <div class="text-center mt-4">
                  <a
                    href="javascript: void(0);"
                    routerLink="/ong-conforme/historico"
                    class="btn btn-primary btn-sm"
                    >Ver mais <i class="mdi mdi-arrow-right ms-1"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div *ngFor="let stat of statData" class="col">
              <app-stat
                [title]="stat.title"
                [value]="stat.value"
                [icon]="stat.icon"
              ></app-stat>
            </div>
            <div class="col-12">
              <div class="card">
                <div class="card-body">
                  <div class="d-sm-flex flex-wrap">
                    <h4 class="card-title mb-4">Doações</h4>
                    <div class="ms-auto">
                      <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="javascript: void(0);"
                            [ngClass]="{ active: isActive === 'week' }"
                            (click)="weeklyreport()"
                            >Semanal</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="javascript: void(0);"
                            (click)="monthlyreport()"
                            [ngClass]="{ active: isActive === 'month' }"
                            >Mensal</a
                          >
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="javascript: void(0);"
                            (click)="yearlyreport()"
                            [ngClass]="{ active: isActive === 'year' }"
                            >Anual</a
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <apx-chart
                    dir="ltr"
                    class="apex-charts"
                    [chart]="collumnBarChart.chart"
                    [series]="collumnBarChart.series"
                    [legend]="collumnBarChart.legend"
                    [colors]="collumnBarChart.colors"
                    [fill]="collumnBarChart.fill"
                    [dataLabels]="collumnBarChart.dataLabels"
                    [xaxis]="collumnBarChart.xaxis"
                    [plotOptions]="collumnBarChart.plotOptions"
                  >
                  </apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 d-block d-lg-none">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <h4 class="card-title mb-4">Arrecadação Total</h4>
                  <p class="text-muted">
                    Ultima atualização: {{ actualMonth }}
                  </p>
                  <h3>{{ "R$" + this.moneyQntd }}</h3>
                  <p class="text-muted">
                    <span class="text-success me-2">
                      12%
                      <i class="mdi mdi-arrow-up"></i
                    ></span>
                    acima da meta
                  </p>
                </div>
                <div class="col-sm-6">
                  <apx-chart
                    dir="ltr"
                    class="apex-charts"
                    [series]="metaMoney.series"
                    [chart]="metaMoney.chart"
                    [legend]="metaMoney.legend"
                    [colors]="metaMoney.colors"
                    [labels]="metaMoney.labels"
                    [stroke]="metaMoney.stroke"
                    [plotOptions]="metaMoney.plotOptions"
                  >
                  </apx-chart>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title mb-5">Recentes</h4>
              <ul class="verti-timeline list-unstyled">
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">
                        22 Nov
                        <i
                          class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                        ></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>Responded to need “Volunteer Activities</div>
                    </div>
                  </div>
                </li>
                <li class="event-list">
                  <div class="event-timeline-dot">
                    <i class="bx bx-right-arrow-circle font-size-18"></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">
                        17 Nov
                        <i
                          class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                        ></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>
                        Everyone realizes why a new common language would be
                        desirable...
                        <a href="javascript: void(0);">Read more</a>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="event-list active">
                  <div class="event-timeline-dot">
                    <i
                      class="bx bxs-right-arrow-circle font-size-18 bx-fade-right"
                    ></i>
                  </div>
                  <div class="d-flex">
                    <div class="flex-shrink-0 me-3">
                      <h5 class="font-size-14">
                        Hoje
                        <i
                          class="bx bx-right-arrow-alt font-size-16 text-primary align-middle ms-2"
                        ></i>
                      </h5>
                    </div>
                    <div class="flex-grow-1">
                      <div>Joined the group “Boardsmanship Forum”</div>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="text-center mt-4">
                <a href="javascript: void(0);" class="btn btn-primary btn-sm"
                  >View More <i class="mdi mdi-arrow-right ms-1"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div *ngFor="let stat of statData" class="col">
              <app-stat
                [title]="stat.title"
                [value]="stat.value"
                [icon]="stat.icon"
              ></app-stat>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="d-sm-flex flex-wrap">
                  <h4 class="card-title mb-4">Arrecadações</h4>
                  <div class="ms-auto">
                    <ul class="nav nav-pills">
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="javascript: void(0);"
                          [ngClass]="{ active: isActive === 'week' }"
                          (click)="weeklyreport()"
                          >Semanal</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="javascript: void(0);"
                          (click)="monthlyreport()"
                          [ngClass]="{ active: isActive === 'month' }"
                          >Mensal</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="javascript: void(0);"
                          (click)="yearlyreport()"
                          [ngClass]="{ active: isActive === 'year' }"
                          >Anual</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
                <apx-chart
                  dir="ltr"
                  class="apex-charts"
                  [chart]="collumnBarChart.chart"
                  [series]="collumnBarChart.series"
                  [legend]="collumnBarChart.legend"
                  [colors]="collumnBarChart.colors"
                  [fill]="collumnBarChart.fill"
                  [dataLabels]="collumnBarChart.dataLabels"
                  [xaxis]="collumnBarChart.xaxis"
                  [plotOptions]="collumnBarChart.plotOptions"
                >
                </apx-chart>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div>
<!-- container-fluid -->
