# Logs
logs
*.log
npm-debug.log*

# Ignorar todos os diretórios node_modules em qualquer nível
**/node_modules/
**backend/node_modules/
**ong/node_modules/

# Diretório de build
dist/

# Arquivos de configuração de IDEs
.idea/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de ambiente
.env