<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Dashboard</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">...</a>
              </li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="d-none d-lg-block col-lg-4">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title mb-4">Familias</h4>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="d-flex flex-row gap-2">
                        <div
                          class="btn btn-sm btn-soft-info p-0 d-flex align-items-center justify-content-center"
                          style="width: 47px; height: 47px"
                        >
                          <span
                            class="mdi mdi-human-male-male-child font-size-22"
                          ></span>
                        </div>
                        <div class="d-flex flex-column gap-1">
                          <span class="fs-6">Cadastradas</span>
                          <span class="fw-bold fs-5">
                            {{
                              this.familias && this.familias.length > 0
                                ? this.familias.length
                                : "carregando..."
                            }}
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="d-flex justify-content-end">
                          <button
                            class="btn btn-sm btn-success px-3 py-2 mt-1 d-flex align-items-center justify-content-center"
                            (click)="addFamilyModal.show()"
                          >
                            <span class="mdi mdi-plus-thick me-2"></span>
                            <span class="fs-6">Familia</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <hr class="my-4 border-secondary opacity-25" />

                  <a
                    href="javascript:void(0);"
                    class="btn btn-soft-secondary h-100 w-100"
                    (click)="showFiltros = !showFiltros"
                    [attr.aria-expanded]="showFiltros"
                    aria-controls="collapseExample"
                  >
                    <div class="d-flex flex-row justify-content-between">
                      <span
                        ><i class="bx bx-filter-alt align-middle"></i>
                        Filtros</span
                      >
                      <i
                        *ngIf="!showFiltros"
                        class="bx bx-chevron-right fs-4"
                      ></i>
                      <i
                        *ngIf="showFiltros"
                        class="bx bx-chevron-down fs-4"
                      ></i>
                    </div>
                  </a>
                  <div class="collapse" [collapse]="!showFiltros">
                    <div class="pt-4">
                      <div class="row g-3">
                        <div class="col-6">
                          <form [formGroup]="parentescoForm">
                            <div>
                              <label class="form-label">Parentesco</label>
                            </div>
                            <div class="d-flex flex-column gap-1">
                              <div
                                class="form-check form-check-inline"
                                *ngFor="
                                  let parentesco of parentescoForm.controls
                                    | keyvalue;
                                  let i = index
                                "
                                [ngClass]="{'mb-1 me-5 pb-2 border-bottom border-secondary-subtle': i === 0}"
                              >
                                <input
                                  class="form-check-input"
                                  type="checkbox"
                                  [formControlName]="getParentescoLabel(i)"
                                  [id]="'inlineCheckbox' + (i + 1)"
                                  (change)="filterParentescoChange(i)"
                                />
                                <label
                                  class="form-check-label w-100"
                                  [for]="'inlineCheckbox' + (i + 1)"
                                >
                                  {{ getParentescoLabel(i) }}
                                </label>
                              </div>
                            </div>
                          </form>
                        </div>
                        <div class="col-6">
                          <form [formGroup]="generoForm">
                            <div>
                              <label class="form-label">Gênero</label>
                            </div>
                            <div class="d-flex flex-column gap-1 position-relative">
                              <select name="genero" class="form-control z-2 bg-transparent">
                                <option value="X">Todos</option>
                                <option value="F">Feminino</option>
                                <option value="M">Masculino</option>
                              </select>
                              <i class="bx bx-chevron-down fs-4 position-absolute" style="top: 50%; transform: translateY(-50%); left: 80%;"></i>
                            </div>
                          </form>
                        </div>
                        <div class="col-12">
                          <form [formGroup]="idadeForm">
                            <div>
                              <label class="form-label">Idade</label>
                            </div>
                            <div class="custom-slider px-2 py-1" id="ageRanger">
                              <ngx-slider
                                [(value)]="minAgeRange"
                                [(highValue)]="maxAgeRange"
                                [options]="option1"
                              ></ngx-slider>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="card">
              <div class="card-body">
                <div
                  class="d-flex flex-row gap-2 col align-items-center w-100 mb-2"
                >
                  <div class="col-lg-3 position-relative">
                    <label
                      class="bx bx-search-alt position-absolute d-flex align-items-center"
                      style="top: 50%; transform: translateY(-50%); left: 3%"
                      for="searchDoacaoList"
                    ></label>
                    <input
                      type="search"
                      class="form-control ps-4 text-truncate"
                      id="searchDoacaoList"
                      placeholder="Pesquisar responsável..."
                      [(ngModel)]="this.txtSearch"
                    />
                  </div>
                </div>
                <!-- Table data -->
                <div class="table-responsive mb-0">
                  <table
                    class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check position-relative"
                    id="order-list"
                  >
                    <thead
                      *ngIf="
                        this.familias.length > 0 && this.isLoadingList === false
                      "
                      class="table-light"
                    >
                      <tr>
                        <th style="width: 20px">
                          <div class="form-check font-size-16 align-middle">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="transactionCheck01"
                              [(ngModel)]="masterSelected"
                              (change)="checkUncheckAll($event)"
                            />
                            <label
                              class="form-check-label"
                              for="transactionCheck01"
                            ></label>
                          </div>
                        </th>
                        <th class="align-middle">ID</th>
                        <th class="align-middle">Nome Responsável</th>
                        <th class="align-middle">CPF Responsável</th>
                        <th class="align-middle">Ações</th>
                      </tr>
                    </thead>
                    <tbody class="position-relative">
                      <tr
                        *ngFor="
                          let data of familias
                            | paginate
                              : {
                                  itemsPerPage: itemsPerPage,
                                  currentPage: currentPage
                                };
                          let i = index
                        "
                        id="o_{{ data.id }}"
                      >
                        <td>
                          <div class="form-check font-size-16">
                            <input
                              class="form-check-input"
                              type="checkbox"
                              id="transactionCheck{{ data.index }}"
                              value="{{ data.id }}"
                              [(ngModel)]="data.marked"
                            />
                            <label
                              class="form-check-label"
                              for="transactionCheck{{ data.index }}"
                            ></label>
                          </div>
                        </td>
                        <td>
                          <a
                            href="javascript: void(0);"
                            class="text-body fw-bold"
                            >#FML{{ data.id }}</a
                          >
                        </td>
                        <td>{{ data.resp_nome }}</td>
                        <td>
                          <input
                            type="text"
                            class="form-control p-0"
                            [mask]="'000.000.000-00'"
                            [(ngModel)]="data.resp_cpf"
                            maskSpecialCharacters="true"
                            style="
                              border: none;
                              background-color: transparent;
                              outline: none;
                            "
                          />
                        </td>
                        <td>
                          <div class="d-flex gap-3">
                            <a
                              href="javascript:void(0);"
                              class="text-black align-middle"
                              ngbTooltip="Ver detalhes"
                              [routerLink]="['/ong-conforme/familia-unic']"
                              [queryParams]="{ id: data.id }"
                            >
                              <span
                                class="mdi mdi-text-search font-size-18"
                              ></span>
                            </a>
                            <a
                              href="javascript:void(0);"
                              class="text-danger align-middle"
                              ngbTooltip="Deletar"
                              (click)="confirmDelete(data.id)"
                              ><i class="mdi mdi-delete font-size-18"></i
                            ></a>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tbody *ngIf="isLoadingList">
                      <tr *ngFor="let _ of [1, 2, 3, 4, 5, 6, 7]">
                        <td>
                          <ngx-skeleton-loader
                            animation="pulse"
                            [theme]="{ width: '16px', height: '16px' }"
                          />
                        </td>
                        <td>
                          <ngx-skeleton-loader animation="pulse" />
                        </td>
                        <td><ngx-skeleton-loader animation="pulse" /></td>
                        <td><ngx-skeleton-loader animation="pulse" /></td>
                        <td><ngx-skeleton-loader animation="pulse" /></td>
                        <td><ngx-skeleton-loader animation="pulse" /></td>
                        <td>
                          <ngx-skeleton-loader
                            animation="pulse"
                            [theme]="{ width: '70px' }"
                          />
                        </td>
                        <td>
                          <ngx-skeleton-loader
                            animation="pulse"
                            [theme]="{ width: '50px' }"
                          />
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div
                    *ngIf="
                      this.familias.length > 0 && this.isLoadingList === false
                    "
                    class="pagination-container d-flex justify-content-end"
                  >
                    <pagination-controls
                      (pageChange)="pageChanged($event)"
                      (pageBoundsCorrection)="pageChanged($event)"
                      maxSize="5"
                      directionLinks="true"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Prox"
                      autoHide="true"
                    >
                    </pagination-controls>
                  </div>
                </div>
                <div
                  *ngIf="
                    this.familias.length <= 0 && this.isLoadingList === false
                  "
                  class="d-flex flex-row justify-content-center align-items-center gap-5 py-3"
                >
                  <h2
                    class="d-flex justify-content-end text-dark fw-semibold col-6 text-start"
                  >
                    NENHUMA FAMILIA <br />
                    FOI CADASTRADA!
                  </h2>

                  <div class="d-flex justify-content-start col-6">
                    <img
                      src="assets/images/add-item.svg"
                      alt="add-item img"
                      height="200px"
                    />
                  </div>
                </div>
                <!-- end table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div>
<!-- container-fluid -->

<div
  bsModal
  #addFamilyModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Familia</h5>
        <button
          type="button"
          class="btn-close"
          id="close-modal"
          (click)="addFamilyModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">
          <div id="basic-example">
            <ng-stepper #cdkStepper [linear]="true" class="wizard">
              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number">1.</span>
                  <span>Responsável</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 0">
                  <form [formGroup]="respForm" (ngSubmit)="nextStep(respForm)">
                    <div class="row">
                      <div class="mb-3 col-6">
                        <label for="basicpill-firstname-input">Nome</label>
                        <input
                          type="text"
                          class="form-control"
                          id="basicpill-firstname-input"
                          formControlName="resp_nome"
                          placeholder="Joao"
                          [ngClass]="{
                            'is-invalid':
                              submitted && respForm.controls.resp_nome.errors
                          }"
                        />
                        <div
                          *ngIf="
                            submitted && respForm.controls.resp_nome.errors
                          "
                          class="invalid-feedback"
                        >
                          Digite um nome válido.
                        </div>
                      </div>
                      <div class="mb-3 col-6">
                        <label for="basicpill-lastname-input">Sobrenome</label>
                        <input
                          type="text"
                          class="form-control"
                          id="basicpill-lastname-input"
                          formControlName="resp_sobrenome"
                          placeholder="Silva"
                          [ngClass]="{
                            'is-invalid':
                              submitted &&
                              respForm.controls.resp_sobrenome.errors
                          }"
                        />
                        <div
                          *ngIf="
                            submitted && respForm.controls.resp_sobrenome.errors
                          "
                          class="invalid-feedback"
                        >
                          Digite um sobrenome válido.
                        </div>
                      </div>
                      <div class="mb-3 col-6">
                        <label for="basicpill-phoneno-input">CPF</label>
                        <input
                          type="text"
                          class="form-control"
                          id="basicpill-phoneno-input"
                          mask="000.000.000-00"
                          placeholder="000.000.000-00"
                          formControlName="resp_cpf"
                          [ngClass]="{
                            'is-invalid':
                              submitted && respForm.controls.resp_cpf.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && respForm.controls.resp_cpf.errors"
                          class="invalid-feedback"
                        >
                          Digite um cpf válido.
                        </div>
                      </div>
                      <div class="mb-3 col-6">
                        <label for="basicpill-phoneno-input">Telefone</label>
                        <input
                          type="text"
                          class="form-control"
                          id="basicpill-phoneno-input"
                          mask="(00) 0000-0000||(00) 00000-0000"
                          placeholder="(XX) XXXX-XXXX"
                          formControlName="telefone"
                          [ngClass]="{
                            'is-invalid':
                              submitted && respForm.controls.telefone.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && respForm.controls.telefone.errors"
                          class="invalid-feedback"
                        >
                          Digite um telefone válido.
                        </div>
                      </div>
                      <div class="mb-3 col-12">
                        <label for="basicpill-email-input">Email</label>
                        <input
                          type="email"
                          class="form-control"
                          id="basicpill-email-input"
                          placeholder="exemplo@email.com"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid':
                              submitted && respForm.controls.email.errors
                          }"
                        />
                        <div
                          *ngIf="submitted && respForm.controls.email.errors"
                          class="invalid-feedback"
                        >
                          Digite um email válido.
                        </div>
                      </div>
                    </div>

                    <ul
                      class="list-inline wizard d-flex justify-content-end mb-0"
                    >
                      <li
                        class="previous list-inline-item"
                        aria-disabled="true"
                        *ngIf="cdkStepper.selectedIndex !== 0"
                      >
                        <button class="btn btn-primary" cdkStepperPrevious>
                          Voltar
                        </button>
                      </li>
                      <li class="next list-inline-item">
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="this.disableSubmitBtn"
                        >
                          Avançar
                        </button>
                      </li>
                    </ul>
                  </form>
                </section>
              </cdk-step>

              <cdk-step [optional]="false">
                <ng-template cdkStepLabel>
                  <span class="number">2.</span>
                  <span>Endereço</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 1">
                  <form
                    [formGroup]="addressForm"
                    (ngSubmit)="nextStep(addressForm)"
                  >
                    <div class="row">
                      <div class="col-8">
                        <div class="mb-3">
                          <label for="basicpill-street-input">Rua</label>
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-street-input"
                            formControlName="street"
                            placeholder="Avenida Nereu Ramos"
                            [ngClass]="{
                              'is-invalid':
                                submitted && addressForm.controls.street.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && addressForm.controls.street.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite uma rua.
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-3">
                          <label for="basicpill-house-number-input"
                            >Número</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-house-number-input"
                            formControlName="number"
                            placeholder="000"
                            mask="0*"
                            [ngClass]="{
                              'is-invalid':
                                submitted && addressForm.controls.number.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && addressForm.controls.number.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite um número.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-3">
                          <label for="basicpill-neighborhood-input"
                            >Bairro</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-neighborhood-input"
                            formControlName="neighborhood"
                            placeholder="Agua Branca"
                            [ngClass]="{
                              'is-invalid':
                                submitted &&
                                addressForm.controls.neighborhood.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted &&
                              addressForm.controls.neighborhood.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite um bairro.
                          </div>
                        </div>
                      </div>
                      <div class="col-6">
                        <div class="mb-3">
                          <label for="basicpill-state-input">Estado</label>
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-state-input"
                            formControlName="state"
                            placeholder="SC"
                            [ngClass]="{
                              'is-invalid':
                                submitted && addressForm.controls.state.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && addressForm.controls.state.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite um estado.
                          </div>
                        </div>
                      </div>
                      <div class="col-8">
                        <div class="mb-3">
                          <label for="basicpill-city-input">Cidade</label>
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-city-input"
                            formControlName="city"
                            placeholder="Joinville"
                            [ngClass]="{
                              'is-invalid':
                                submitted && addressForm.controls.city.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && addressForm.controls.city.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite uma cidade.
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <div class="mb-3">
                          <label for="basicpill-zipcode-input">CEP</label>
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-zipcode-input"
                            formControlName="zipcode"
                            mask="00000-000"
                            placeholder="00000-000"
                            [ngClass]="{
                              'is-invalid':
                                submitted && addressForm.controls.zipcode.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted && addressForm.controls.zipcode.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite um CEP válido.
                          </div>
                        </div>
                      </div>
                      <div class="col-12">
                        <div class="mb-3">
                          <label for="basicpill-complement-input"
                            >Complemento</label
                          >
                          <input
                            type="text"
                            class="form-control"
                            id="basicpill-complement-input"
                            formControlName="complement"
                            placeholder="Exemplo: Casa, Apartamento 200..."
                            [ngClass]="{
                              'is-invalid':
                                submitted &&
                                addressForm.controls.complement.errors
                            }"
                          />
                          <div
                            *ngIf="
                              submitted &&
                              addressForm.controls.complement.errors
                            "
                            class="invalid-feedback"
                          >
                            Digite um complemento.
                          </div>
                        </div>
                      </div>
                    </div>

                    <ul
                      class="list-inline wizard d-flex justify-content-end mb-0"
                    >
                      <li
                        class="previous list-inline-item"
                        aria-disabled="true"
                      >
                        <button class="btn btn-primary" cdkStepperPrevious>
                          Voltar
                        </button>
                      </li>
                      <li class="next list-inline-item" aria-disabled="false">
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="this.disableSubmitBtn"
                        >
                          Avançar
                        </button>
                      </li>
                    </ul>
                  </form>
                </section>
              </cdk-step>

              <cdk-step [optional]="true">
                <ng-template cdkStepLabel>
                  <span class="number">3.</span>
                  <span>Outros</span>
                </ng-template>
                <section *ngIf="cdkStepper.selectedIndex === 2">
                  <form
                    class="repeater"
                    [formGroup]="membrosForm"
                    (ngSubmit)="submitAddFamilia()"
                  >
                    <div formArrayName="formlist">
                      <div
                        *ngFor="let data1 of formData().controls; let i = index"
                      >
                        <div [formGroupName]="i" class="row col-12">
                          <div class="col-4">
                            <label for="name" *ngIf="i === 0">Parentesco</label>
                            <select
                              type="text"
                              formControlName="membro"
                              class="form-control text-muted"
                              [ngClass]="{
                                'is-invalid':
                                  data1.get('membro').invalid && submitted
                              }"
                            >
                              <option value="Responsavel">Responsável</option>
                              <option value="Filho">Filho</option>
                              <option value="Outro">Outro</option>
                            </select>
                          </div>
                          <div class="col-4">
                            <label for="name" *ngIf="i === 0">Gênero</label>
                            <select
                              id=""
                              formControlName="genero"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  data1.get('genero').invalid && submitted
                              }"
                            >
                              <option value="F">Feminino</option>
                              <option value="M">Masculino</option>
                            </select>
                          </div>
                          <div class="col-2">
                            <label for="age" *ngIf="i === 0">Idade</label>
                            <input
                              type="text"
                              formControlName="idade"
                              class="form-control"
                              [ngClass]="{
                                'is-invalid':
                                  data1.get('idade').invalid && submitted
                              }"
                            />
                            <div
                              *ngIf="data1.get('idade').invalid && submitted"
                              class="invalid-feedback"
                            ></div>
                          </div>
                          <div class="col-2 align-self-end">
                            <div class="d-grid">
                              <label *ngIf="i === 0"> </label>
                              <button
                                type="button"
                                class="btn btn-primary"
                                (click)="removeField(i)"
                              >
                                <span class="mdi mdi-delete"></span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <hr
                          *ngIf="i !== formData().controls.length - 1"
                          class="my-3 border-secondary opacity-25"
                        />
                      </div>
                      <button
                        type="button"
                        class="btn btn-success btn-sm mt-3"
                        (click)="addField()"
                      >
                        <span class="mdi mdi-plus-thick me-1"></span> Membro
                      </button>
                    </div>
                    <hr class="my-4 border-secondary opacity-25" />
                    <div class="">
                      <label for="describ">Descrição</label>
                      <textarea
                        type="text"
                        name="describ"
                        formControlName="describ"
                        class="form-control"
                        placeholder="Possuem 3 filhos, sendo de 7,9 e 10 anos."
                        style="resize: vertical; max-height: 100px"
                      ></textarea>
                    </div>
                    <ul
                      class="list-inline wizard d-flex justify-content-end mb-0 mt-2"
                    >
                      <li
                        class="previous list-inline-item"
                        aria-disabled="true"
                      >
                        <button class="btn btn-primary" cdkStepperPrevious>
                          Voltar
                        </button>
                      </li>
                      <li class="next list-inline-item" aria-disabled="false">
                        <button
                          type="submit"
                          class="btn btn-primary"
                          [disabled]="this.disableSubmitBtn"
                        >
                          Enviar
                        </button>
                      </li>
                    </ul>
                  </form>
                </section>
              </cdk-step>
            </ng-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
