<div class="container-fluid">
  <!-- start page title -->
  <div class="row">
    <div class="col-12">
      <div
        class="page-title-box d-flex align-items-center justify-content-between"
      >
        <h4 class="mb-0 font-size-18">Gerenciador</h4>
        <div class="page-title-right">
          <ol class="breadcrumb m-0">
            <ng-container>
              <li class="breadcrumb-item">
                <a href="javascript: void(0);">Doações</a>
              </li>
              <li class="breadcrumb-item active">Gerenciador</li>
            </ng-container>
          </ol>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <div class="row mb-2">
                <div class="col-sm-6 position-relative">
                  <div class="position-relative d-flex flex-row gap-3">
                    <div class="filterDiv col-4">
                      <select
                        class="form-select"
                        aria-label="Escolha um período"
                      >
                        <option value="semanal" selected>Todos</option>
                        <option value="semanal">Objetos</option>
                        <option value="mensal">Alimentos</option>
                        <option value="anual">Monetário</option>
                      </select>
                    </div>
                    <div
                      class="inputDiv position-relative search-box me-2 mb-2 d-inline-block"
                    >
                      <input
                        type="text"
                        class="form-control"
                        autocomplete="off"
                        id="searchTableList"
                        placeholder="Pesquisar..."
                      />
                      <i class="bx bx-search-alt search-icon"></i>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="text-sm-end">
                    <button
                      type="button"
                      class="btn btn-success btn-rounded mb-2 me-2"
                      (click)="showModal.show()"
                    >
                      <i class="mdi mdi-plus mr-1"></i> Add Doação
                    </button>
                  </div>
                </div>
                <!-- end col-->
              </div>
              <!-- Table data -->
              <div class="table-responsive mb-0">
                <table
                  class="table align-middle table-nowrap dt-responsive nowrap w-100 table-check"
                  id="order-list"
                >
                  <thead class="table-light">
                    <tr>
                      <th style="width: 20px">
                        <div class="form-check font-size-16 align-middle">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="transactionCheck01"
                            [(ngModel)]="masterSelected"
                            (change)="checkUncheckAll($event)"
                          />
                          <label
                            class="form-check-label"
                            for="transactionCheck01"
                          ></label>
                        </div>
                      </th>
                      <th class="align-middle">ID</th>
                      <th class="align-middle">Categoria</th>
                      <th class="align-middle">Item</th>
                      <th class="align-middle">Data Criação</th>
                      <th class="align-middle">Quantidade Atual</th>
                      <th class="align-middle">Entrada/Saida</th>
                      <th class="align-middle">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let data of doacoes; let i = index"
                      id="o_{{ data.id }}"
                    >
                      <td>
                        <div class="form-check font-size-16">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            id="transactionCheck{{ data.index }}"
                            value="{{ data.id }}"
                            [(ngModel)]="data.state"
                          />
                          <label
                            class="form-check-label"
                            for="transactionCheck{{ data.index }}"
                          ></label>
                        </div>
                      </td>
                      <td>
                        <a
                          href="javascript: void(0);"
                          class="text-body fw-bold"
                          >{{ data.id }}</a
                        >
                      </td>
                      <td>{{ data.categoria }}</td>
                      <td>{{ data.itemName }}</td>
                      <td>{{ data.dataCreated }}</td>
                      <td>{{ data.qntd }}</td>
                      <td>
                        <!-- Button trigger modal -->
                        <button
                          type="button"
                          class="btn btn-primary btn-sm btn-rounded px-3"
                          (click)="movModal(i)"
                        >
                          Editar
                        </button>
                      </td>
                      <td>
                        <div class="d-flex gap-3">
                          <a
                            href="javascript:void(0);"
                            class="text-success"
                            (click)="editModal(i)"
                            ><i class="mdi mdi-pencil font-size-18"></i
                          ></a>
                          <a
                            href="javascript:void(0);"
                            class="text-danger"
                            (click)="confirm(i)"
                            ><i class="mdi mdi-delete font-size-18"></i
                          ></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end table -->
              <ul
                class="pagination pagination-rounded justify-content-end mb-2"
              >
                <!-- <pagination [totalItems]="(total | async)!" [(ngModel)]="service.page" [itemsPerPage]="service.pageSize"></pagination> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end page title -->
</div>
<!-- container-fluid -->

<!-- Movimentar doacao Model -->
<div
  bsModal
  #movimentacaoModal="bs-modal"
  class="modal fade"
  id="movimentacaoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title mt-0" id="orderdetailsModalLabel">
          Movimentação de Doação
        </h5>
        <button
          type="button"
          class="btn-close"
          aria-hidden="true"
          (click)="movimentacaoModal?.hide()"
        ></button>
      </div>
      <form
        (ngSubmit)="submitMov()"
        [formGroup]="movimentacaoForm"
        class="needs-validation createorder-form"
        id="createorder-form"
      >
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-12">
              <input type="hidden" class="form-control" id="orderid-input" />
              <div class="mb-3 d-flex justify-content-center position-relative">
                <div
                  class="nav nav-pills w-100 text-center d-flex flex-row gap-1"
                >
                  <a
                    href="javascript: void(0);"
                    class="nav-link col border border-light-subtle"
                    (click)="toggleInput('entrada')"
                    [ngClass]="{ active: isInput }"
                    >ENTRADA</a
                  >
                  <a
                    href="javascript: void(0);"
                    class="nav-link col border border-light-subtle"
                    (click)="toggleInput('saida')"
                    [ngClass]="{ active: !isInput }"
                    >SAIDA</a
                  >
                </div>
              </div>
              <div class="mb-3">
                <p for="customername-field" class="form-label fw-bold">Item</p>
                <input
                  type="text"
                  class="form-control"
                  placeholder="0"
                  formControlName="itemName"
                  autocomplete="off"
                  readonly
                />
              </div>
              <div class="">
                <label for="orderdate-input" class="form-label fw-bold"
                  >Quantidade</label
                >
                <input
                  *ngIf="isInput"
                  type="text"
                  class="form-control"
                  placeholder="0"
                  formControlName="qntd"
                  mask="+0*"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': submitted && addNewItemForm.get('qntd').errors
                  }"
                />
                <input
                  *ngIf="!isInput"
                  type="text"
                  class="form-control"
                  placeholder="0"
                  formControlName="qntd"
                  mask="-0*"
                  autocomplete="off"
                  [ngClass]="{
                    'is-invalid': submitted && addNewItemForm.get('qntd').errors
                  }"
                />
                <div class="invalid-feedback">
                  Digite uma quantidade válida.
                </div>
              </div>
              <div class="mb-3"></div>
            </div>
          </div>
        </div>
        <div class="modal-footer d-flex flex-row justify-content-center">
          <button class="btn btn-secondary" (click)="movimentacaoModal?.hide()">
            Cancelar
          </button>
          <button
            *ngIf="isInput"
            type="submit"
            id="addNewOrder-btn"
            class="btn btn-success"
          >
            Acrescentar
          </button>
          <button
            *ngIf="!isInput"
            type="submit"
            id="addNewOrder-btn"
            class="btn btn-danger"
          >
            Diminuir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--End Modal -->

<!-- Add doacao Model -->
<div
  bsModal
  #showModal="bs-modal"
  class="modal fade"
  id="showModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Adicionar Doação</h5>
        <button
          type="button"
          class="btn-close"
          id="close-modal"
          (click)="showModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="submitAddItem()"
          [formGroup]="addNewItemForm"
          class="needs-validation createorder-form"
          id="createorder-form"
        >
          <div class="row overflow-y-auto" style="max-height: 364px !important">
            <div class="col-lg-12">
              <input type="hidden" class="form-control" id="orderid-input" />
              <div class="mb-3">
                <label for="customername-field" class="form-label"
                  >Item doado</label
                >
                <input
                  type="text"
                  id="customername-field"
                  class="form-control"
                  placeholder="Nome item..."
                  formControlName="itemName"
                  [ngClass]="{
                    'is-invalid':
                      submitted && addNewItemForm.get('itemName').errors
                  }"
                />
                <div class="invalid-feedback">Nome inválido.</div>
              </div>
              <div class="mb-4">
                <label for="orderdate-input" class="form-label"
                  >Data de Entrada</label
                >
                <input
                  bsDatepicker
                  [bsConfig]="{
                    isAnimated: true,
                    dateInputFormat: 'DD/MM/YYYY'
                  }"
                  class="form-control"
                  placeholder="dd/mm/aaaa"
                  formControlName="data"
                  [ngClass]="{
                    'is-invalid': submitted && addNewItemForm.get('data').errors
                  }"
                />
                <div class="invalid-feedback">
                  Por favor selecione uma data.
                </div>
              </div>
              <div class="mb-3">
                <div class="d-flex flex-row gap-3">
                  <p class="fs-5">Movimentação inicial</p>
                  <ui-switch
                    color="#556ee6"
                    [checked]="false"
                    uncheckedLabel=""
                    checkedLabel=""
                    size="small"
                    class="me-1"
                    (change)="toggleCheckbox($event)"
                  ></ui-switch>
                </div>

                <div class="mb-3" *ngIf="addInitialMov">
                  <div class="invalid-feedback">
                    Por favor digite quantidade e doador.
                  </div>
                  <label for="customername-field" class="form-label"
                    >Quantidade</label
                  >
                  <input
                    type="text"
                    id="customername-field"
                    class="form-control"
                    placeholder="Quantidade inicial"
                    formControlName="qntd"
                    autocomplete="off"
                    mask="0*"
                    [ngClass]="{
                      'is-invalid':
                        submitted && addNewItemForm.get('qntd')?.errors
                    }"
                  />
                  <div
                    *ngIf="submitted && addNewItemForm.get('qntd')?.errors"
                    class="invalid-feedback"
                  >
                    <div *ngIf="addNewItemForm.get('qntd')?.errors['required']">
                      Digite uma quantidade valida.
                    </div>
                    <div *ngIf="addNewItemForm.get('qntd')?.errors['nulo']">
                      Quantidade tem que ser maior que 0.
                    </div>
                  </div>
                </div>
                <div class="mb-3" *ngIf="addInitialMov">
                  <label for="customername-field" class="form-label"
                    >Doador</label
                  >
                  <input
                    type="text"
                    id="customername-field"
                    class="form-control"
                    placeholder="Nome doador..."
                    formControlName="personName"
                    [ngClass]="{
                      'is-invalid':
                        submitted && addNewItemForm.get('personName')?.errors
                    }"
                    autocomplete="off"
                  />
                  <div
                    *ngIf="
                      submitted && addNewItemForm.get('personName')?.errors
                    "
                    class="invalid-feedback"
                  >
                    <div
                      *ngIf="
                        addNewItemForm.get('personName')?.errors['required']
                      "
                    >
                      Digite um nome valido.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 position-relative">
              <div class="mb-3 w-100">
                <label for="paystatus-input" class="form-label"
                  >Categoria</label
                >
                <div
                  *ngIf="submitted && addNewItemForm.get('categoria')?.errors"
                  class=""
                >
                  <div
                    *ngIf="addNewItemForm.get('categoria')?.errors['required']"
                    class="text-danger"
                  >
                    Selecione uma categoria.
                  </div>
                </div>
                <ul
                  class="nav nav-pills d-flex flex-row gap-2 justify-content-center text-center"
                >
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle"
                      (click)="selectCategoria($event.currentTarget)"
                      [ngClass]="{ active: selectedCategoria === 'objeto' }"
                      >Objeto</a
                    >
                  </li>
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle"
                      (click)="selectCategoria($event.currentTarget)"
                      [ngClass]="{ active: selectedCategoria === 'alimento' }"
                      >Alimento</a
                    >
                  </li>
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle"
                      (click)="selectCategoria($event.currentTarget)"
                      [ngClass]="{ active: selectedCategoria === 'monetario' }"
                      >Monetário</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12 mt-3">
              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-lg btn-outline-secondary me-1"
                  (click)="showModal.hide()"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  id="addNewOrder-btn"
                  class="btn btn-lg btn-success"
                >
                  Adicionar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end modal body -->
    </div>
  </div>
</div>
<!--End Modal -->

<!-- Edit doacao Model -->
<div
  bsModal
  #editItemModal="bs-modal"
  class="modal fade"
  id="editItemModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button
          type="button"
          class="btn-close"
          id="close-modal"
          (click)="editItemModal.hide()"
        ></button>
      </div>
      <div class="modal-body">
        <form
          (ngSubmit)="submitEdit()"
          [formGroup]="attItemForm"
          class="needs-validation createorder-form"
          id="createorder-form"
          novalidate
        >
          <div class="row">
            <div class="col-lg-12">
              <input type="hidden" class="form-control" id="orderid-input" />
              <div class="mb-3">
                <label for="customername-field" class="form-label"
                  >Item doado</label
                >
                <input
                  type="text"
                  id="customername-field"
                  class="form-control"
                  placeholder="Nome item..."
                  formControlName="itemName"
                  [ngClass]="{
                    'is-invalid': submitted && form['itemName'].errors
                  }"
                />
                <div
                  *ngIf="submitted && form['itemName'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="form['itemName'].errors['required']">
                    Digite um nome válido.
                  </div>
                </div>
              </div>
              <div class="mb-3">
                <label for="payamount-input" class="form-label"
                  >Quantidade inicial de items</label
                >
                <input
                  type="text"
                  id="customername-field"
                  class="form-control"
                  placeholder="0"
                  formControlName="qntd"
                  [ngClass]="{
                    'is-invalid': submitted && form['qntd'].errors
                  }"
                  autocomplete="off"
                />
                <div
                  *ngIf="submitted && form['qntd'].errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="form['qntd'].errors['required']">
                    Digite uma quantidade válida.
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 position-relative">
              <div class="mb-3 w-100">
                <label for="paystatus-input" class="form-label"
                  >Categoria</label
                >
                <ul
                  class="nav nav-pills d-flex flex-row gap-2 justify-content-center text-center"
                >
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle active"
                      >Objeto</a
                    >
                  </li>
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle"
                      >Alimento</a
                    >
                  </li>
                  <li class="nav-item col">
                    <a
                      href="javascript: void(0);"
                      class="nav-link border border-light-subtle"
                      >Monetário</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-12 mt-3">
              <div class="text-end">
                <button
                  type="button"
                  class="btn btn-lg btn-outline-secondary me-1"
                  (click)="showModal.hide()"
                >
                  Cancelar
                </button>
                <button
                  type="submit"
                  id="addNewOrder-btn"
                  class="btn btn-lg btn-success"
                >
                  Adicionar
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- end modal body -->
    </div>
  </div>
</div>
<!--End Modal -->

<!-- Remove doacao model -->
<div
  bsModal
  #removeItemModal="bs-modal"
  class="modal fade"
  id="removeItemModal"
  tabindex="-1"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <div class="modal-content">
      <div class="modal-body px-4 py-5 text-center">
        <button
          type="button"
          class="btn-close position-absolute end-0 top-0 m-3"
          (click)="removeItemModal.hide()"
        ></button>
        <div class="avatar-sm mb-4 mx-auto">
          <div
            class="avatar-title bg-primary text-primary bg-opacity-10 p-3 rounded-3"
          >
            <i class="mdi mdi-trash-can-outline fs-2"></i>
          </div>
        </div>
        <p class="text-muted font-size-16 mb-4">
          Tem certeza que deseja deletar?
        </p>

        <div class="hstack gap-2 justify-content-center mb-0">
          <button
            type="button"
            class="btn btn-secondary"
            id="close-removeOrderModal"
            (click)="removeItemModal.hide()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-danger"
            id="remove-item"
            (click)="deleteOrder()"
          >
            Deletar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end removeItemModal -->
